# Default owners for everything
* @jasoncorrea56

# Security-critical workflows & policies require review
.github/workflows/* @jasoncorrea56
.trivyignore @jasoncorrea56
trivy-license-policy.yaml @jasoncorrea56
